# Node dependencies
node_modules/
**/node_modules/

# Environment files
.env
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite build output
dist/

# Archives
*.zip

# Misc
.DS_Store
*.log
.vscode/
.idea/
